{% assign menu = mobile_menu %}
{% if mobile_menu == blank %}
  {% assign menu = main_menu %}
{% endif %}

<div
    style="--tw-bg-opacity: 0;"
    class="sf-menu-wrapper sf-menu-wrapper-mobile touch-none hidden fixed z-[80] inset-0 transition-colors duration-300 bg-black"
>
    <div class="sf-menu__content overscroll-contain transition-transform -translate-x-full duration-300 md:w-[450px] z-50 bg-white text-black overflow-x-hidden h-full overflow-y-scroll">
        <div class="flex flex-col">
            <div class="sf-menu-content flex-grow flex flex-col justify-between transition-all opacity-0 opacity-100 duration-300">
                <div class="w-full sf-menu-links pt-8">
                  {% for link in linklists[menu].links %}
                    {% if link.links != blank %}
                        <li class="list-none sf-link flex items-center" data-url="{{ link.url }}">
                            <a href="{{ link.url }}" class="w-full px-4 py-3 flex items-center justify-between relative">
                                <span>{{ link.title }}</span>
                            </a>
                            <span class="sf__toggle-submenu-mb flex items-center justify-center">{% render 'icon', name: 'chevron-right', size: 'small' %}</span>
                            <div class="sf-sub-links hidden absolute inset-y-0 bg-white flex-col left-full w-full">
                                <div class="h-full overflow-y-scroll overscroll-contain">
                                    <button class="back p-4 font-medium flex items-center ">
                                      {% render 'icon', name: 'arrow-left', size: 'small' %}
                                      {% capture btn_text %}{{ 'layout.back' | t }}{% endcapture %}
                                      {% if btn_text contains 'translation missing' %}
                                        {% capture btn_text %}Back{% endcapture %}
                                      {% endif %}
                                      <span class="ml-3">{{ btn_text }}</span>
                                    </button>
                                  <ul class="pb-4">
                                    {% render 'mega-menu-link' for link.links as link %}
                                  </ul>
                                </div>
                            </div>
                        </li>
                    {% else %}
                      {% render 'mega-menu-link' with link as link %}
                    {% endif %}
                  {% endfor %}
                </div>
              {% render 'mega-menu-customer', section: section %}
            </div>
        </div>
    </div>
</div>
